@import "/theme.css";

@font-face {
  font-family: "Raleway-Num";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+30-39;
}
@font-face {
  font-family: "Raleway-Num";
  src: url("/font/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  unicode-range: U+30-39;
}
@font-face {
  font-family: "Raleway-Num";
  src: url("/font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  unicode-range: U+30-39;
}
@font-face {
  font-family: "Raleway-Num";
  src: url("/font/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  unicode-range: U+30-39;
}

@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("/font/Raleway-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: transparent;
  color: var(--font-color);
  font-family: 'Raleway-Num', 'Raleway', sans-serif;

  overflow: hidden;
}

a { color: var(--link-color); }
a:visited { color: var(--link-color-visited); }

::-webkit-scrollbar { width: 0.375rem; height: 0.5rem; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--foreground-light); border-radius: 0.25rem; }
::-webkit-scrollbar-thumb:hover { background: var(--foreground-light-hover); }
::-webkit-scrollbar-corner { background: transparent; }

#entryPoint {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.scroll-shadow {
  position: relative;
}

.scroll-shadow.overflow-top::before {
  background: linear-gradient(
    to bottom,
    var(--scroll-shadow-color),
    transparent
  );
  content: "";
  width: 100%;
  position: absolute;
  height: 2rem;
  z-index: 2;
  top: 0;

  pointer-events: none;
}

.scroll-shadow.overflow-bottom::after {
  background: linear-gradient(
    to top,
    var(--scroll-shadow-color),
    transparent
  );
  content: "";
  width: 100%;
  position: absolute;
  height: 2rem;
  z-index: 2;
  bottom: 0;

  pointer-events: none;
}


#entryPoint .splitpanes { background-color: var(--background-dark); }
#entryPoint .splitpanes__pane { background-color: var(--background-dark); }

#entryPoint .splitpanes__splitter {
	background-color: transparent;
	border: none;
  cursor: ew-resize;
  display: flex;
  justify-content: center;
  transition: background-color 0.14s ease-in-out;
  width: 0.375rem;
}
#entryPoint .splitpanes__splitter::before{
	content: '';
	position: static;
	background-color: var(--background);
}
#entryPoint .splitpanes__splitter::after{ display: none; }

#entryPoint .splitpanes--vertical > .splitpanes__splitter::before {
  margin: 0;
  transform: none;
	height: 100%;
  width: 2px;
  transition: width 0.14s ease-in-out;
}
#entryPoint .splitpanes--vertical > .splitpanes__splitter:hover::before {
  width: 0.375rem;
}


.tippy-box[data-theme~=sarm] {
  background-color: var(--tooltip-background);
  background-clip: padding-box;
  border: 1px solid var(--tooltip-border);
  color: var(--font-color);
  box-shadow: 0 0.25rem 14px -2px var(--tooltip-shadow);
  font-size: 12px;
}

.tippy-box[data-theme~=sarm] .tippy-content {
  /* padding-bottom: 3px; */
  padding: 3px 5px;
  padding-bottom: 2px;
  white-space: nowrap;
}

.tippy-box[data-theme~=sarm]>.tippy-backdrop {
  background-color: var(--tooltip-background);
}

.tippy-box[data-theme~=sarm]>.tippy-arrow:after,
.tippy-box[data-theme~=sarm]>.tippy-svg-arrow:after {
  content: "";
  position: absolute;
  z-index: -1;
}

.tippy-box[data-theme~=sarm]>.tippy-arrow:after {
  border-color: transparent;
  border-style: solid;
}

.tippy-box[data-theme~=sarm][data-placement^=top]>.tippy-arrow:before {
  border-top-color: var(--tooltip-background);
  border-width: 0.438rem 0.438rem 0;
  top: 14px;
}

.tippy-box[data-theme~=sarm][data-placement^=top]>.tippy-arrow:after {
  border-top-color: var(--tooltip-border-arrow);
  border-width: 0.375rem 0.375rem 0;
  top: 1rem;
  left: 1px;
}

.tippy-box[data-theme~=sarm][data-placement^=bottom]>.tippy-arrow:before {
  border-bottom-color: var(--tooltip-background);
  border-width: 0 0.438rem 0.438rem;
  bottom: 14px;
}

.tippy-box[data-theme~=sarm][data-placement^=bottom]>.tippy-arrow:after {
  border-bottom-color: var(--tooltip-border-arrow);
  border-width: 0 0.375rem 0.375rem;
  bottom: 1rem;
  left: 1px;
}

.tippy-box[data-theme~=sarm][data-placement^=left]>.tippy-arrow:before {
  border-left-color: var(--tooltip-background);
  border-width: 0.438rem 0 0.438rem 0.438rem;
  left: 14px;
}

.tippy-box[data-theme~=sarm][data-placement^=left]>.tippy-arrow:after {
  border-left-color: var(--tooltip-border-arrow);
  border-width: 0.375rem 0 0.375rem 0.375rem;
  left: 1rem;
  top: 1px;
}

.tippy-box[data-theme~=sarm][data-placement^=right]>.tippy-arrow:before {
  border-right-color: var(--tooltip-background);
  border-width: 0.438rem 0.438rem 0.438rem 0;
  right: 14px;
}

.tippy-box[data-theme~=sarm][data-placement^=right]>.tippy-arrow:after {
  border-width: 0.375rem 0.375rem 0.375rem 0;
  right: 1rem;
  top: 1px;
  border-right-color: var(--tooltip-border-arrow);
}

.tippy-box[data-theme~=sarm]>.tippy-svg-arrow {
  fill: var(--tooltip-background);
}